<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinFormsApp1.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WinFormsApp1.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WinFormsApp1.Settings>
            <setting name="ColorFondoApp" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ColorBotonFunciones" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="ColorBotonNumeros" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ImagenFondo" serializeAs="String">
                <value />
            </setting>
            <setting name="TipoLetraTam" serializeAs="String">
                <value>Microsoft Sans Serif, 14pt, style=Bold</value>
            </setting>
            <setting name="ColorTextoBotonFun" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ColorTextoBotonNum" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ColorBotonEspecial" serializeAs="String">
                <value>0, 192, 0</value>
            </setting>
            <setting name="ColorTextoBotonEsp" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="OpcionFondo" serializeAs="String">
                <value>1</value>
            </setting>
        </WinFormsApp1.Settings>
        <WinFormsApp1.Settings1>
            <setting name="ColorFondoApp" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorBotonFunciones" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorBotonNumeros" serializeAs="String">
                <value />
            </setting>
            <setting name="ImagenFondo" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorTextoBotonFun" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorTextoBotonNum" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorBotonEspecial" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorTextoBotonEsp" serializeAs="String">
                <value />
            </setting>
        </WinFormsApp1.Settings1>
    </userSettings>
</configuration>